*.o
*.lo
*.la
.deps
.libs
Makefile
libtool
build/config.make
config.h
config.h.in
config.log
config.status
autom4te.cache
doc/examples/dyff/fidogate.conf.sample
doc/examples/dyff/packing.sample
doc/examples/point/fidogate.conf
doc/mailer/postfix/master.cf
doc/mailer/sendmail/mailer/ftn.m4
doc/news/leafnode/config.h
scripts/areas/areasbbssync
scripts/areas/areassucksync
scripts/filebase/fb-chkfiles
scripts/filebase/fb-filelist
scripts/maintenance/logcheck
scripts/maintenance/logdaily
scripts/maintenance/logreport
scripts/maintenance/logsendmail
scripts/maintenance/logstat
scripts/maintenance/runchklock
scripts/misc/hosts2dns
scripts/misc/recvuu
scripts/misc/senduu
scripts/misc/senduumail
scripts/nodelist/html-tmpl
scripts/nodelist/nl-2hosts
scripts/nodelist/nl-2routing
scripts/nodelist/nl-autoupd
scripts/nodelist/nl-del
scripts/nodelist/nl-diff
scripts/nodelist/nl-html
scripts/nodelist/nl-isdn
scripts/nodelist/nl-print
scripts/outbound/out-attach
scripts/outbound/out-freq
scripts/outbound/out-ls
scripts/outbound/out-manip
scripts/outbound/out-rm0
scripts/outbound/out-rmbsy
scripts/outbound/outb
scripts/outbound/outb-kill
scripts/www/gate.cgi
src/areafix/ftnaf
src/areafix/ftnafmail
src/areafix/ftnafpkt
src/areafix/ftnafutil
src/areafix/pkttmpl
src/charset/charsetc
src/common/cf_abbrev.c
src/common/cf_abbrev.mak
src/common/cf_env.c
src/common/cf_env.mak
src/common/cf_funcs.c
src/common/cf_funcs.mak
src/common/libfidogate.la
src/common/parsedate.c
src/gate/ftn2rfc
src/gate/ftnin
src/gate/ftninpost
src/gate/ftninrecomb
src/gate/ftnmail
src/gate/ftnnews
src/gate/rfc2ftn
src/gate/send-fidogate
src/include/cf_funcs.h
src/include/cf_funcs.mak
src/include/paths.h
src/include/paths.mak
src/tick/ftnhatch
src/tick/ftntick
src/tick/ftntickpost
src/toss/ftn2ftn
src/toss/ftnexpire
src/toss/ftnpack
src/toss/ftnroute
src/toss/ftntoss
src/toss/ngoper
src/toss/report_traffic
src/toss/runinc
src/util/confval
src/util/ftnfattach
src/util/ftnflo
src/util/ftnoutpkt
src/util/pktdebug
src/util/pktmore
src/util/sumcrc
stamp-h1.in
stamp-h1
