#
# $Id: acl.sample,v 5.2 2004/11/23 00:50:36 anray Exp $
#

rfc2ftn

NetMail
alex@corex.izhora.spb.ru	*
*				*

EchoMail
alex@corex.izhora.spb.ru	*
*				*

rfc2ftn

NetMail
2:5074/1229.7			*

EchoMail
2:5074/1229.7			*
