#:ts=8
#
#
# User name aliases
#
# username	FTN address		Full name
# --------	-----------		---------
root		2:5030/1229.0		"SysOp"

postmaster	2:5030/1229.1		"Mail Delivery Subsystem"

dyff		2:5030/1229.0		"Dmitry Fedotov"
dyff		2:5030/1229.0		"*"
