#:ts=8
#
#   $Id: aliases.sample,v 1.1.1.1 2003/09/23 17:32:10 rusfidogate Exp $
#
# User name aliases
#
# username	FTN address		Full name
# --------	-----------		---------
root		2:5030/1229.0		"SysOp"

postmaster	2:5030/1229.1		"Mail Delivery Subsystem"
dyff		2:5030/1229.1		"D*F*"

dyff		2:5030/1229.0		"Dmitry Fedotov"
dyff		2:5030/1229.0		"*"
