Source: fidogate
Section: net
Priority: optional
Maintainer: Zhenja Kaliuta <y.kaliuta@gmail.com>
Build-Depends: dpatch, debhelper (>= 5), autotools-dev, bison
Standards-Version: 3.6.1

Package: fidogate
Architecture: any
Depends: adduser, ucf, ${shlibs:Depends}, ${misc:Depends}
Conflicts: libfidogate5, libfidogate-dev
Replaces: libfidogate5, libfidogate-dev
Provides: libfidogate5, libfidogate-dev
Suggests: news-transport-system | inn2, mail-transport-agent | sendmail, zip, unzip
Description: Internet-Fidonet gateway
 Fidogate branch with good cyrillic support and advanced features.

Package: fidogate-dbg
Architecture: any
Depends: fidogate (= ${Source-Version})
Description: Internet-Fidonet gateway, debug files
 Fidogate branch with good cyrillic support and advanced features.
 .
 This package contains non-stripped binaries for the debugging

Package: fidogate-doc
Architecture: all
Description: documentation for fidogate
 Fidogate branch with good cyrillic support and advanced features.
 .
 This package contains documentation files

Package: fidogate-sendmail
Architecture: all
Description: sendmail configuration for fidogate
 Fidogate branch with good cyrillic support and advanced features.
 .
 This package contains mailer definition for sendmail mta

Package: fidogate-postfix
Architecture: all
Description: postfix configuration for fidogate
 Fidogate branch with good cyrillic support and advanced features.
 .
 This package contains mailer definition for postfix mta
