#:ts=8
#
#
# Echomail area <-> News newsgroup conversion
#
# Options:
#     -a Z:N/F.P         Alternate address for this area
#     -z ZONE            Alternate zone AKA for this area
#     -d DISTRIBUTION    Distribution header for this newsgroups
#     -o ORIGIN          * Origin line for this area
#     -g                 No gated messages
#     -l                 Only local crosspostings
#     -x                 No crosspostings
#     -H                 Names match entire hierarchy, names are translated
#     -!                 Don't gate area/newsgroup [hierarchy]
#     -R LVL             ^ARFC header level
#     -m MAXSIZE         MaxMsgSize for this area (0 = infinity)
#     -X "Xtra: xyz"     Add extra RFC headers (multiple -X allowed)
#     -8                 Do not encode message body in base64/QP
#     -Q                 Encode message in QP
#     -b                 Encode message in base64
#     -nh                Do not encode message headers
#
# All fields may be quoted in "...", order is import, first area/newsgroup
# found matches!
#
# Format:
#
# area                        newsgroup                     [-option]
# ------------------------    --------------------------    ---------

#
# Local
#
CORE.LOCAL		fido.core.local		-z 2 -a 2:5030/1229
SMALL&IMP.LOCAL		fido.smaill.and.imp.local	-8 -H -z 2 -a 2:5030/1229
RU.FIDO&FSB		fido.ru.fido.and.fsb	-z 2 -a 2:5030/1229
""			fido.			-H -z 2 -a 2:5030/1229
