#
#

Echo
Readonly
!2:5030/1229.1,*	CORE.STAT
!*/*.0,*	HUMOR.FILTERED,DAY.THIS,NEWS.*,OBEC.FILTERED,RU.ANEKDOT.THE.BEST
!*/*.0,*	RU.ANEKDOT.FILTERED,RU.LIST.CITYCAT.*,SMALL&IMP.LOCAL,SMALL.STAT
!*/*.0,*	*.SYSOP,RU.ANECDOT,RU.ANEKDOT,ASSEMBLAGE.ROBORS,*R50*

Fecho
Readonly
!*/*.0,*	AVP,BOOK,NODEDIFF,PANORAMA.TV,PNT5030,R50-LIST,R50ROUTE,RAR
!*/*.0,*	SPB_INFO,SPB_NC,USYSLNX,Z2-DIFF
2:5030/1229.8	RU.HACKER
2:5030/1229.7	*

Echo
Mandatory
*		CORE.LOCAL
